---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?q=repo:AgileVentures/LocalSupport%20type:pr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
      X-Ratelimit-Reset:
      - '1469662444'
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/search/issues?q=repo%3AAgileVentures%2FLocalSupport+type%3Apr&page=2>;
        rel="next", <https://api.github.com/search/issues?q=repo%3AAgileVentures%2FLocalSupport+type%3Apr&page=11>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":315,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/AgileVentures/LocalSupport/issues/332","repository_url":"https://api.github.com/repos/AgileVentures/LocalSupport","labels_url":"https://api.github.com/repos/AgileVentures/LocalSupport/issues/332/labels{/name}","comments_url":"https://api.github.com/repos/AgileVentures/LocalSupport/issues/332/comments","events_url":"https://api.github.com/repos/AgileVentures/LocalSupport/issues/332/events","html_url":"https://github.com/AgileVentures/LocalSupport/pull/332","id":167329191,"number":332,"title":"Change
        Home link title to test review app","user":{"login":"Maroo-b","id":7128972,"avatar_url":"https://avatars.githubusercontent.com/u/7128972?v=3","gravatar_id":"","url":"https://api.github.com/users/Maroo-b","html_url":"https://github.com/Maroo-b","followers_url":"https://api.github.com/users/Maroo-b/followers","following_url":"https://api.github.com/users/Maroo-b/following{/other_user}","gists_url":"https://api.github.com/users/Maroo-b/gists{/gist_id}","starred_url":"https://api.github.com/users/Maroo-b/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Maroo-b/subscriptions","organizations_url":"https://api.github.com/users/Maroo-b/orgs","repos_url":"https://api.github.com/users/Maroo-b/repos","events_url":"https://api.github.com/users/Maroo-b/events{/privacy}","received_events_url":"https://api.github.com/users/Maroo-b/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2016-07-25T09:57:52Z","updated_at":"2016-07-25T09:57:52Z","closed_at":null,"pull_request":{"url":"https://api.github.com/repos/AgileVentures/LocalSupport/pulls/332","html_url":"https://github.com/AgileVentures/LocalSupport/pull/332","diff_url":"https://github.com/AgileVentures/LocalSupport/pull/332.diff","patch_url":"https://github.com/AgileVentures/LocalSupport/pull/332.patch"},"body":"","score":1.0},{"url":"https://api.github.com/repos/AgileVentures/LocalSupport/issues/331","repository_url":"https://api.github.com/repos/AgileVentures/LocalSupport","labels_url":"https://api.github.com/repos/AgileVentures/LocalSupport/issues/331/labels{/name}","comments_url":"https://api.github.com/repos/AgileVentures/LocalSupport/issues/331/comments","events_url":"https://api.github.com/repos/AgileVentures/LocalSupport/issues/331/events","html_url":"https://github.com/AgileVentures/LocalSupport/pull/331[...]
